<?xml version="1.0" encoding="UTF-8"?>

<widget id="com.maxmeio.liquidaionic" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
   <name>Liquida Natal</name>

    <description>
        Aplicativo teste do Liquida Natal usando ionic.
    </description>
    <author email="atendimento@maxmeio.com" href="http://maxmeio.com">
        Victor Costa
    </author>


    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->
    <feature name="http://api.phonegap.com/1.0/device" />

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
        <preference name="permissions"                value="none"/>
    -->

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="3.7.0" /> -->      <!-- all: current version of PhoneGap -->
    





<!-- Android SDK Version -->
    <preference name="android-minSdkVersion" value="14" />
    <!-- iOS Version -->
    <preference name="deployment-target" value="7.0" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />

    <preference name="target-device" value="handset" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="KeepRunning" value="true" />
    <preference name="detect-data-types" value="false" />

    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#ef473a" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreen" value="res/screen/android/screen-xhdpi-portrait.png" />
    <preference name="SplashScreenDelay" value="10000" />


    <!-- name="com.acme.app.pub" -->
    <gap:url-scheme role="None"> 
      <scheme>waiting</scheme>
    </gap:url-scheme>

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.9" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.camera" />
    <!-- <gap:plugin name="co.mwater.foregroundcameraplugin" version="0.1.1" /> --> <!-- Not needed if not using CROP or EDIT in image -->
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.statusbar" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    <gap:plugin name="com.verso.cordova.clipboard" />
    <gap:plugin name="org.apache.cordova.splashscreen" source="plugins.cordova.io" version="0.3.5" />
    <gap:plugin name="com.chariotsolutions.nfc.plugin" version="0.5.1" />

    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="info.asankan.phonegap.smsplugin" />
    <gap:plugin name="nl.x-services.plugins.toast" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />
    <gap:plugin name="com.pylonproducts.wifiwizard" version="0.1.0" />

    <gap:plugin name="com.ionic.keyboard" version="1.0.3" />

    <gap:plugin name="com.adobe.plugins.gaplugin" />

    <!-- <gap:plugin name="nl.x-services.plugins.googleplus" version="1.0.8" source="plugins.cordova.io"/> -->

    <!-- <gap:plugin name="nickreed.com.phonegap.plugins.facebookconnect" version="0.9.1" source="plugins.cordova.io">
        <param name="APP_ID" value="1576585215910001" />
        <param name="APP_NAME" value="Waiting" />
    </gap:plugin> -->

    <!-- Keyboard setting for Android -->
    <gap:config-file platform="android" parent="/manifest/application">
        <activity android:windowSoftInputMode="adjustResize" />
    </gap:config-file>


    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
        <param name="ios-package" value="CDVSplashScreen"/>
        <param name="onload" value="true"/>
    </feature>

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>

    <feature name="BarcodeScanner">
        <param name="ios-package" value="CDVBarcodeScanner" />
        <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner" />
    </feature>

    <feature name="SocialSharing">
      <param name="ios-package" value="SocialSharing" />
      <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>

    <feature name="Toast">
      <param name="ios-package" value="Toast" />
      <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>

    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>

    <feature name="Contacts">
        <param name="android-package" value="org.apache.cordova.contacts.ContactManager"/>
        <param name="ios-package" value="CDVContacts"/>
    </feature>

    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
        <param name="ios-package" value="CDVFile" />
    </feature>

    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
        <param name="ios-package" value="CDVFileTransfer" />
    </feature>

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <feature name="PushPlugin" >
        <param name="android-package" value="com.plugin.gcm.PushPlugin"/>
        <param name="ios-package" value="PushPlugin"/>
    </feature>

    <feature name="DatePickerPlugin">
        <param name="android-package" value="com.plugin.datepicker.DatePickerPlugin"/>
    </feature>
    <feature name="DatePicker">
        <param name="ios-package" value="DatePicker"/>
    </feature>

    <feature name="LocalNotification">
        <param name="android-package" value="de.appplant.cordova.plugin.localnotification.LocalNotification"/>
        <param name="ios-package" value="APPLocalNotification"/>
    </feature>



    <icon src="icon.png" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/36.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/48.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/72.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/96.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/144.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icon/android/192.png" />

    <icon gap:platform="ios" height="57" src="res/icon/ios/57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/114.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/144.png" width="144" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash gap:platform="android" gap:density="ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:density="mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:density="hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:density="xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />



    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-3.png" width="320" height="480"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-4.png" width="640" height="960"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-5.png" width="640" height="1136"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-6.png" width="750" height="1334"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-6-plus.png" width="1242" height="2208"/>
    

    <gap:splash gap:platform="ios" src="res/screen/ios/ipad-retina.png" width="768" height="1024"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/ipad.png" width="1536" height="2048"/>

    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
    <!--
        Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
        Otherwise, you can specify specific domains:
    -->
    <content src="index.html" />

    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->
    <access origin="*" />
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>