<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maxmeio.liquidanatal" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Liquida Natal</name>
    <description>
        Aplicativo do Liquida Natal.
    </description>
    <author email="atendimento@maxmeio.com" href="http://maxmeio.com">
        Victor Costa
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="SplashScreenDelay" value="3000"/>

    <plugin name="InAppBrowser" value="CDVInAppBrowser" />
    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
    <plugin name="Notification" value="org.apache.cordova.Notification"/>
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />


    <icon src="icon.png" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/36.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/48.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/72.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/96.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/144.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icon/android/192.png" />


    <icon gap:platform="ios" height="57" src="res/icon/ios/57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/114.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/144.png" width="144" />


    <gap:splash gap:platform="android" gap:density="ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:density="mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:density="hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:density="xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />



    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-3.png" width="320" height="480"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-4.png" width="640" height="960"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-5.png" width="640" height="1136"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-6.png" width="750" height="1334"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/iphone-6-plus.png" width="1242" height="2208"/>
    

    <gap:splash gap:platform="ios" src="res/screen/ios/ipad-retina.png" width="768" height="1024"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/ipad.png" width="1536" height="2048"/>


    <access origin="*" />
</widget>