<ion-view view-title="{{product.Product.name}}">
  	<ion-content>
   		<div class="card grey produto" ng-show="product.Product.id.length && !loading">
   			<div class="row">
	   			<div class="col">
		   			<h3>{{product.Store.name}}</h3>
			  		<h2>{{product.Product.name}}</h2>
		   			<h4>{{product.Category.name}}</h4>

			  		<ion-slide-box auto-play="true" does-continue="true" delegate-handle="image-viewer" on-slide-changed="slideHasChanged($index)">
				  		<ion-slide ng-repeat="photo in product.Photo">
				    		<div class="box">
				    			<img ng-src="http://www.liquidanatal.com/app{{photo.thumb}}" ng-style="{ 'width': '100%' }">
				    		</div>
				  		</ion-slide>
					</ion-slide-box>
			    	

		   			<p>{{product.Product.name}}</p>
		   			<div class="preco">
                        <p>DE: <span> {{product.Product.previous_price | currency:"R$"}}</span></p>
                        <p>POR: <span>{{product.Product.current_price | currency:"R$"}}</span></p>
                        <div class="desconto">
		                    <p class="ng-binding">-{{product.Product.discount}}<span>%</span></p>
		                </div>
                    </div>
	   			</div>
                <!-- <div class="bar bar-footer bar-light"  ng-show="product.Product.id.length && !loading && showback"> -->
   			</div>
		</div>
		<div class="row" ng-show="product.Product.id.length && !loading && showback">
			<div class="col">
   				<div style="position:relative" style="bar bar-footer bar-light">
					<a href="#/app/stores/{{product.Store.id}}" id="footer" class="button icon-left button-full ion-chevron-left button-assertive">Ir para loja</a>
				</div>
				<br>
			</div>
		</div>
		<div class="row" ng-show="loading == true">
		  	<p class="loading">
	          <ion-spinner class="spinner-assertive" icon="spiral"></ion-spinner>
	        </p>
		</div>
		
		<ion-list ng-show="!product.Product.id.length && !loading">
      		<ion-item>
       		 Não existem produtos cadastrados
      		</ion-item>
    	</ion-list>
	
  	</ion-content>
</ion-view>