<ion-view view-title="Segmentos">
  	<ion-content>
    	<ion-list>
      		<ion-item ng-repeat="segmento in segments" href="#/app/segments/{{segmento.Segment.id}}">
       		 {{segmento.Segment.name}}
       		 <!-- <span class="badge badge-assertive">{{segmento.Store.length}}</span> -->
      		</ion-item>
    	</ion-list>
    	<div class="row" ng-show="loading == true">
        <p class="loading">
          <ion-spinner class="spinner-assertive" icon="spiral"></ion-spinner>
        </p>          
		  </div>
  		<ion-list ng-show="!segments.length && !loading">
        		<ion-item>
         		 Não existem segmentos cadastrados
        		</ion-item>
      	</ion-list>
    	</ion-content>
</ion-view>
