<ion-view view-title="{{store.Store.name}}">
  	<ion-content ng-controller="StoreCtrl" lazy-scroll>
   		<div class="card" ng-show="!store.Store.length && !loading">
	  		<div class="item grey">
	  			<div class="row">
				  	<div class="col address col-50">
				  		<h2>{{store.Store.name}}</h2>
				  		<h3>{{store.Segment.name}}</h3>
				  		<p>{{store.Store.address}}</p>
				  	</div>
				  	<div class="col col-50">
				  		<iframe width="100%" height="168" frameborder="0" style="border:0" src="{{url | trustAsResourceUrl}}" allowfullscreen></iframe>
				  	</div>
			  	</div>
		  	</div>
		  	<div class="item tabs tabs-secondary tabs-icon-left  grey">
			    <a class="tab-item" href="tel:{{store.Store.phones}}">
			      	<i class="icon ion-ios-telephone"></i>
			      	Ligar
			    </a>
			    <a class="tab-item" href="mailto:{{store.User.email}}">
		      		<i class="icon ion-email"></i>
		      		Email
			    </a>
			</div>
		</div>

		<div class="list list-inset" ng-show="!store.Store.length && !loading">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="nameFilter" autocomplete="off" id="buscar_nome" placeholder="Busca">
            </label>
        </div>

    	<ion-list ng-show="!store.Store.length && !loading">
            <ion-item class="item product-list item-thumbnail-left" ng-repeat="produto in store.Product | filter: searchFilter" href="#/app/product/{{produto.id}}">
            	<img image-lazy-src="http://www.liquidanatal.com/app{{produto.Photo[0].thumb}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-50">
          		<div class="desconto">
                    <p class="ng-binding">-{{produto.discount}}<span>%</span></p>
                </div>
               	<p>{{store.Store.name}}</p>
               	<h2>{{produto.name}}</h2> 
               	<p>{{produto.Category.name}}</p> 
            </ion-item>
    	</ion-list>


		<div class="row" ng-show="loading == true">
		  	<p class="loading">
	          <ion-spinner class="spinner-assertive" icon="spiral"></ion-spinner>
	        </p>
		</div>
		
		<ion-list ng-show="!store.Product.length && !loading">
      		<ion-item>
       		 Não existem produtos cadastrados
      		</ion-item>
    	</ion-list>

  	</ion-content>
</ion-view>
